<!DOCTYPE html>
<html lang="en">
  <%- include('./patials/head.ejs') %>
  <body>
    <%- include('./patials/nav.ejs') %>

    <div class="not-found content">OOPS, page not found :)</div>

    <%- include('./patials/footer.ejs') %>
  </body>
</html>
