<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Ninja | <%= title %></title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog Ninja</h1></a>
        <p>A Net Ninja Site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorum
        excepturi ex, ab dolore rem voluptatem quia inventore, nostrum placeat
        pariatur delectus quibusdam tempora eius omnis, deleniti ratione esse
        blanditiis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        itaque qui commodi numquam minus illum molestias distinctio aut
        voluptatum nisi incidunt animi ut laboriosam, saepe quisquam aperiam
        sequi facilis officia.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi
        architecto illum nemo aliquam omnis, magnam a accusamus soluta magni non
        impedit doloremque veniam excepturi, ipsum et, molestiae quaerat libero
        quisquam?
      </p>
    </div>
  </body>
</html>
