<!DOCTYPE html>
<html lang="en">
  <%- include('./patials/head.ejs') %>
  <body>
    <%- include('./patials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorum
        excepturi ex, ab dolore rem voluptatem quia inventore, nostrum placeat
        pariatur delectus quibusdam tempora eius omnis, deleniti ratione esse
        blanditiis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        itaque qui commodi numquam minus illum molestias distinctio aut
        voluptatum nisi incidunt animi ut laboriosam, saepe quisquam aperiam
        sequi facilis officia.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi
        architecto illum nemo aliquam omnis, magnam a accusamus soluta magni non
        impedit doloremque veniam excepturi, ipsum et, molestiae quaerat libero
        quisquam?
      </p>
    </div>

    <%- include('./patials/footer.ejs') %>
  </body>
</html>
